body {
  background-color: rgba(255, 243, 229, 0.63);
}


// Specific CSS for your home-page
.container {
  margin: 30px auto;
  width: 75%;
  padding: 0px;
}

.title-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin-bottom: 0px;
    color: #727D73;
  }
}

.cat-card {
  display: flex;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  list-style: none;
  margin: 20px auto;
  width: 30%;
  height: 150px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.349);
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

  a {
    color: white;

    &:hover {
      color: #AAB99A;
    }
  }

  p {

  color: white;
  font-weight: 400;
  font-size: 20px;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  }
}

hr {
  color: #727D73;
}

@media (min-width: 200px) and (max-width: 991.98px) {
  .cat-card {
    width: 100%; /* Equivalent to col-md-6 (6/12 columns) */
  }
}
