.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  color: white;
  background-size: cover;
  background-position: center;

  h1 {
    font-size: 60px;
    font-weight: 700;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.444);
    text-align: center;
  }

  @media (min-width: 200px) and (max-width: 991.98px) {
    h1 {
      font-size: 40px; /* Equivalent to col-md-6 (6/12 columns) */
    }
  }


  p {
    font-size: 30px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.429);
  }
}
