.my-form {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.197);

  label {
    color: #727D73;
    font-family: "Playfair Display", serif;
  }
}
