.navbar {
 display: flex;
 flex-wrap: wrap;
 width: 75%;
 margin: 0 auto;
 padding: 0px;
 align-items: center;

 img {
  width: 100px;
  height: 100px;
 }

 a {
  color: #727D73;

    &:hover {
      color: #AAB99A;
    }
  }
}
