<div class="me-3">
  <div class = "navbar">
    <div>
      <%= image_tag "cookbooklogo.png", alt: "Logo" %>
    </div>
    <div class="d-flex flex-wrap gap-4">
      <p><%= link_to "Home", categories_path %></p>
      <p><%= link_to "New category",  new_category_path %>
    </div>
  </div>
</div>
