<h1>Store your own recipes</h1>
<%= link_to "Create a new category", new_category_path %>
<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>
